// Override this file to add your own SCSS styling.

/* Override margins for figures. */
figure {
  margin-top: 0;
  margin-bottom: 0;
}

figure img {
  margin-left: auto;
  margin-right: auto;
}

/* Make homepage section padding compact. */
.home-section {
  padding: 10px 0 10px 0;
}

.navbar {
  height: 45px;
  font-size: 0.95rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(74, 177, 154,0.2);
  .navbar-nav {
    font-weight: normal;
  }
}

.article-container {
  max-width: 900px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

/**************************************************
 *  Tags/Labels
 **************************************************/

.badge-light {
  color: #c37669ff;
}
